.outer {
  height: 100px;
  width: 100%;
  margin-bottom: 1rem;
}
.inner {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo img {
  height: 80px;
}
.nav_items {
  width: 40%;
}
.ul {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.ul li {
  list-style-type: none;
}
.navlink {
  color: black;
  text-decoration: none;
  margin: 1rem;
}
.icon{
  height: 60px;
}
.icon button{
  background-color: orange;
}
.icon button i{
  height: 100%;
  width: 100%;
  font-size: 60px;
}