@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Kaisei HarunoUmi', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

